{% extends 'base.html.twig' %}

{% block jumbotron %}
    <h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Hi {{ app.user.username }}
        {% else %}
            Nice to meet you
        {% endif %}
    </h1>
    <div class="sub-nav">
        <nav class="nav nav-inline">
            <a class="nav-link" href="{{ path( 'home' ) }}">Reports</a>
            {% if is_granted('ROLE_TECHNICIAN') %}
                <a class="nav-link" href="{{ path( 'myReports' ) }}">My reports</a>
            {% endif %}
            <a class="nav-link active" href="{{ path( 'statuses' ) }}">Statuses</a>
        </nav>
    </div>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="btn-toolbar">
            <div class="btn-group">
                {% if locations %}
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownLocationSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Locations
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLocationSelection">
                            {% for location in locations %}
                                <a class="dropdown-item" href="{{ path( 'statusesFiltered', {'location': location.id} ) }}">{{location.name}}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path( 'home' ) }}">None</a>
                        </div>
                    </div>
                {% else %}
                    <a href="btn btn-primary btn-disabled">No locations found</a>
                {% endif %}
            </div>
        </div>
        <table class="table table-responsive-md">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Status</th>
                <tr>
            </thead>
            <tbody>
                {% if statuses %}
                    {% for status in statuses %}
                        <tr>
                            <td>{{status.getId()}}</td>
                            <td>{{status.getDate()|date('d-m-Y')}}</td>
                            <td>{{status.getLocation().getName()}}</td>
                            <td>{{status.getStatus( true )}}</td>
                        </tr>			
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No statuses found</td>
                    </tr>			
                {% endif %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(statuses) }}
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
